.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}

header {
  background-color: #ea6d2f;
  color: white;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: white;
}
header a:hover {
  color: white;
}
/* logo */
header > div:nth-child(1) {
  font-weight: bold;
}
/* dataset name */
header > div:nth-child(2) {
  cursor: pointer;
}
/* options */
header > div:nth-child(3) {
  cursor: pointer;
}