.workspace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.workspace > .map-container {
  display: flex;
  flex-grow: 1;
}
/* leaflet map */
.workspace > .map-container > div:nth-child(1) {
  flex-grow: 1;
}

.workspace > .timeslider-container {
  display: flex;
}

.workspace > .graph-container {
  display: flex;
  gap: 2rem;
  height: 40vh;
  padding: 0 1rem 1rem 1rem;
}
/* xyplot */
.workspace > .graph-container > div:nth-child(1) {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
/* colorbar plot */
.workspace > .graph-container > div:nth-child(2) {
  flex: 1;
}
.workspace > .graph-container > .no-markers-note {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.workspace > .debug-container {
  padding: 0.5rem;
}
.workspace > .debug-container > span {
  padding: 0 0.5rem;
}
